.idea/
node_modules/

/dist/
/build-snapshot/
/logs/
/settings/
/.cache/

/.vs

/src/ts/generated/*
!/src/ts/generated/gamepad-template.ts

/assets/images/pony.png
/assets/images/pony2.png
/assets/images/pony2a.png

/config.json
